.description {
	font-weight: 600;
	max-width: 80rem;
	text-align: center;

	p + p {
		margin-top: 2rem;
	}
}

.page-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	line-height: 1.5;
	padding: 5rem;
}
