:root {
	--font-articulat: 'Articulat', sans-serif;
	--font-gruppo: 'Gruppo', sans-serif;
	--font-suisse-intl: 'Suisse Intl', sans-serif;

	--font-main: var(--font-articulat);

	--font-size: 2rem;
	--font-size-small: 0.8em;

	--letter-spacing: 0.03rem;
	--line-height: 135%;
}
